<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="pvs.app.github.api.GithubApiController" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.project.ProjectService" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.github.api.GithubApiService" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.project.repository.RepositoryService" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.github.api.GithubCommitService" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.github.api.GithubCommitDTO" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.github.api.GithubIssueLoaderThread" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.sonar.api.SonarApiService" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.sonar.api.SonarApiController" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.auth.JwtTokenFilter" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.config.SecurityConfig" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.auth.AuthService" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.auth.UserDetailsServiceImpl" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.member.MemberController" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.auth.AuthController" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="pvs.app.project.ProjectController" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>