<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="pvs.app.member.project.ProjectService" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.member.project.hyperlink.HyperlinkService" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.agents.github.issue.GithubIssueLoaderThread" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.agents.sonarqube.SonarQubeAgentRepository" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.agents.sonarqube.SonarQubeAgentController" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.auth.JwtTokenFilter" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.config.SecurityConfig" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.auth.AuthService" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.auth.UserDetailsServiceImpl" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.member.MemberController" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.auth.AuthController" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="pvs.app.member.project.ProjectController" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>